*.o
*.geany
*.DS_Store
build/
build_intel/
build_clang/
external/
.project
.cproject
.idea/
.kdev4/
*.kdev4
.*swp
build2
.vscode/
*.kdev4
.kdev4/
x64/Debug/INSTALL/INSTALL.log
x64/Debug/ZERO_CHECK/ZERO_CHECK.log
KBPlugin.dir/Debug/KBPlugin.log
