*.o
*.a
candock/candock
candock/test_minimization
candock/test_fragmenting
candock/test_bsite
candock/test_singlepoint
lib/ligands/gbio
lib/ligands/gclus
lib/ligands/glig
*.geany
candock/candock_for_centroid_quick
candock/test_clq
candock/test_link
candock/genpot
candock/test_cofactor
