*.o
src/candock
src/test_minimization
src/test_fragmenting
src/test_bsite
src/test_singlepoint
lib/ligands/gbio
lib/ligands/gclus
lib/ligands/glig
*.geany
src/candock_for_centroid_quick
src/test_clq
src/test_link
src/genpot
src/test_cofactor
*.DS_Store
.kdev4/
candock.kdev4
build/
build_intel/
external/
.project
.cproject
